:root {
  font-family: 'Inter', sans-serif;
  --color-smoke: #F4F4F4;
  --color-ash: #0E0E0E;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

body, 
html {
  margin: 0;
  padding: 0;
  background-color: var(--color-ash);
  color: var(--color-smoke);
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 50px;
  margin: 0;
  background-color: var(--color-smoke);
  color: var(--color-ash);
  border-radius: 0 0 20px 0;
}

.logo {
  width: 60px;
  height: 60px;
}

.main-title {
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
}

.introduction {
  max-width: 85rem;
  margin: 60px 8px;
  padding: 0 40px;
  font-size: 1rem;
  line-height: 1.5;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}
.section-tab {
  width: 48px;
  height: 25px;
  background-color: var(--color-smoke);
  padding: 0;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.members-photo {
  width: 100%;
  height: auto;
  max-height: 500px;
}

.members-caption {
  font-size: 0.9rem;
  color: gray;
  margin: 10px 20px 100px 40px;
}

.concerts {
  width: 100%;
  background-color: var(--color-smoke);
  color: var(--color-ash);
  padding-bottom: 40px;
}

.concerts .section-tab {
  background-color: var(--color-ash);
}

.concerts-list {
  padding: 0 50px;
}

.tour-title {
  font-family: 'Koulen', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.concerts-table {
  width: 100%;
  border-left: solid 5px var(--color-ash);
  border-right: solid 5px var(--color-ash);
  border-top: solid 5px var(--color-ash);
  border-bottom: solid 5px var(--color-ash);
  border-collapse: collapse;
}
.concerts-table th, .concerts-table td {
  border-left: solid 5px var(--color-ash);
  border-right: solid 5px var(--color-ash);
  border-top: none;
  border-bottom: none;
  padding: 10px;
  text-align: left;
}
.concerts-table th {
  font-size: larger;
  font-weight: 700;
}

.buttons-spacer {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.add-to-calendar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 50px;
  background-color: #D9D9D9;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.share {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 50px;
  background-color: #D9D9D9;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

/* Responsive for mobile */
@media (max-width: 600px) {
  .header {
      padding: 40px;
      gap: 2px;
  }
  .main-title {
      font-size: 3rem;
      padding: 10px;
  }
  .logo {
      width: 45px;
      height: 45px;
  }
  .concerts-table {
    max-width: 80%;
    overflow-x: auto;
    margin: 0 30px;
  }
  /* .share {
    margin: 0;
  } */
}